/limine/
!src/drivers/limine
out/
build/
out-release/
build-release/
userspace/build-release/
out-*/
build-*/
userspace/build-*/
userspace/programs/**/**.elf
userspace/binary/
userspace/include/
userspace/lib/
userspace/library/
userspace/deps/
*.debug.elf
*.codex

# drive images
/*.img
